@font-face {
	font-family:'Roboto-Bold';
	src: url('Roboto-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Roboto-Regular';
	src: url('Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Roboto-Medium';
	src: url('Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Roboto-Black';
	src: url('Roboto-Black.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Quicksand-Bold';
	src: url('Quicksand/static/Quicksand-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Quicksand-Regular';
	src: url('Quicksand/static/Quicksand-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Questrial-Regular';
	src: url('Questrial-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

